<!DOCTYPE html>
<html>
  <head>
    <title>BotTg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Telegram Bot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if current_site_user&.site_bot&.present? %>
              <%= link_to 'Мой бот', site_bot_path, class: 'nav-link'%>
            <% else %>
            <%= link_to 'Создать бота', new_site_bot_path, class: 'nav-link'%>
            <% end %>
          </li>
        </ul>
        <% if site_user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_site_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to 'Выход', destroy_site_user_session_path, method: :delete %>
          </div>
        </li>
      </ul>
        <% else %>
          <%= link_to(:new_site_user_registration) do %>
            <button class="btn btn-outline-success my-2 my-sm-0 mr-2">Регистрация</button>
          <% end %>
          <%= link_to(:new_site_user_session) do %>
            <button class="btn btn-outline-success my-2 my-sm-0">Вход</button>
          <% end %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
